html {
  height: 100%;
}

body {
  background: #662626;
  color: white;
  font-family: 'Dancing Script', cursive;
  transition: 1s all;
  display: flex;
  align-content: center;
  text-shadow: 5px 5px 20px black;
}

#root {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.App {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 50px 30px 100px 30px;
}

h1 {
  font-size: 90px;
  align-self: center;
  padding: 0em 1em;
  text-shadow: 5px 5px 20px black;
}

.message {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  text-align: center;
}

.undo {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #e3dd35;
  cursor: pointer;
}

.redo {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #e3dd35;
  cursor: pointer;
}

.undo:hover, .redo:hover {
  color: white;
}

p, h3 {
  font-size: 40px;
  align-self: center;
  font-family: 'Courgette', cursive;
  text-shadow: 5px 5px 20px black;
}

p {
  width: 70%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-size: 25px;
  font-family: 'Courgette', cursive;
  text-shadow: 5px 5px 20px black;
  text-align: center;
  background-color: #e3dd35;
  color: black;
  display: none;
  z-index: 3;
}

.signatureMessage {
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Courgette', cursive;
}

form label {
  margin-top: 20px;
}

form button {
  margin-top: 20px;
}